<div class="nav-links">
	<a href="/">
		<p>Home</p>
	</a>
	<a href="/blog">
		<p>Blog</p>
	</a>
	<a href="/contactme">
		<p>Contact Me</p>
	</a>
</div>

<style lang="scss">
	.nav-links {
		@include display-flex(row, center, center);
		flex: 1;
		gap: 2rem;

		a {
			@include font($fontPoiretOne, clamp(1.8rem, 2vw, 10rem), $color, center);
			font-weight: 600;
			flex: 1;

			p {
				@include display-flex(row, center, center);
			}

			&:hover,
			:active {
				text-decoration: underline;
			}
		}

		@include media-query($media-md) {
			gap: 0.3rem;
			justify-content: space-around;
			flex: none;
			width: 100%;
			margin: 0.3rem 0 0.2rem 0;
			a {
				font-size: 1.3rem;
				flex: none;
			}
		}
	}
</style>
