@use "../../../../styles/main" as *;

.toggle-theme {
  @include display-flex(row, center, center);
  margin: 0.2rem 0.5rem;
}
#themeToggle {
  border: 0;
  background: none;
  svg {
    width: 2rem;
    filter: invert(21%) sepia(14%) saturate(1429%) hue-rotate(201deg) brightness(92%) contrast(92%);
    @include media-query($media-md) {
      width: 1.5rem;
    }
  }
}
.sun {
  fill: black;
}
.moon {
  fill: transparent;
}

:global(.dark) .sun {
  fill: transparent;
}
:global(.dark) .moon {
  fill: white;
}
