---
import Welcome from './components/Welcome/Welcome.astro';
import RecentPostsContainer from './components/RecentPostsContainer/RecentPostsContainer.astro';
---

<div class="home-page">
	<Welcome />
	<h1>Recent Posts</h1>
	<RecentPostsContainer />
</div>

<style lang="scss">
	.home-page {
		@include general-properties(90%, auto);
		@include display-flex(column, center);

		h1 {
			@include font($fontInconsolata, clamp(2.8rem, 4vw, 10rem), $color, start);
			margin: 3rem 0 0.5rem 0;
			width: 81%;
			font-weight: bolder;

			@include media-query($media-md) {
				font-size: 3rem;
				margin: 0.3rem;
			}
		}
	}
</style>
