---
import Welcome from './components/Welcome/Welcome.astro';
import RecentPostsContainer from './components/RecentPostsContainer/RecentPostsContainer.astro';
---

<div class="home-page">
	<Welcome />
	<RecentPostsContainer />
</div>

<style lang="scss">
	.home-page {
		@include general-properties(90%, auto);
		@include display-flex(column, center);
		margin-bottom: 1rem;
	}
</style>
