---
import Footer from './Footer/Footer.astro';
import Header from './Header/Header.astro';
import Main from './Main/Main.astro';
---

<body id="root">
	<Header />
	<Main>
		<slot />
	</Main>
	<Footer />
</body>

<style lang="scss">
	#root {
		@include general-properties(100%, 100%);
		@include display-flex(column, center);
		background-color: $backgroundColor;
		min-height: 100dvh;
		transition: 200ms;

		&::-webkit-scrollbar {
			@include general-properties(0.5rem, auto);
			background-color: $secondColor;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $accentColor;
		}
	}
</style>
