//fonts
$fontPoiretOne: "Poiret One", sans-serif;
$fontMontserrat: "Montserrat", sans-serif;

//colors
$color: var(--color);
$backgroundColor: var(--backgroundColor);
$secondColor: var(--secondColor);
$accentColor: var(--accentColor);
$svgFilter: var(--svgFilter);

//media sizes
$media-md: 780px;
