//fonts
$fontPoiretOne: "Poiret One", sans-serif;
$fontMontserrat: "Montserrat", sans-serif;

//colors
$color: black;
$backgroundColor: white;
$secondColor: rgb(233 232 232);
$accentColor: rgb(175, 175, 175);

//media sizes
$media-md: 780px;
