//fonts
$fontPoiretOne: "poiret_oneregular";
$fontMontserrat: "montserratthin";
$fontInconsolata: "inconsolataregular";

//colors
$color: var(--color);
$backgroundColor: var(--backgroundColor);
$secondColor: var(--secondColor);
$accentColor: var(--accentColor);
$svgFilter: var(--svgFilter);

//media sizes
$media-lr: 1200px;
$media-md: 780px;
