---
interface Props {
	slug: string;
	data: {
		image: {
			src: string;
			alt: string;
		};
		title: string;
		date: string;
	};
}

const { data, slug } = Astro.props;
const { title, date } = data;
---

<a
	href={`blog/${slug}`}
	transition:name={slug}>
	<article class="post-container">
		<span class="title-date">
			<h1>{title}</h1>
			<p title="dd/mm/yyyy">{date}</p>
		</span>
	</article>
</a>

<style lang="scss">
	a {
		border-bottom: 1px solid $accentColor;

		&:hover {
			article > span > h1 {
				text-decoration: underline;
			}
		}

		&:nth-last-child(1) {
			border-bottom: 0;
		}
	}

	.post-container {
		@include display-flex(column);

		.title-date {
			@include general-properties(100%, 100%);
			@include display-flex(row, baseline, space-between);
			padding-bottom: 1rem;

			h1 {
				@include display-flex(row, center);
				@include font($fontMontserrat, clamp(1.2rem, 1vw, 3rem), $color);
				font-weight: 600;
			}
			p {
				@include font($fontMontserrat, clamp(0.6rem, 0.5vw, 1rem), $color, end);
			}

			@include media-query($media-md) {
				padding-bottom: 0.5rem;
				padding-top: 0.5rem;

				h1 {
					font-size: clamp(1rem, 1vw, 2rem);
				}

				p {
					font-size: clamp(0.7rem, 0.5vw, 1rem);
					font-weight: bolder;
				}
			}
		}
	}
</style>
