@use "../../../../styles/main" as *;

a {
  @include font($fontMontserrat, 1rem, $color, center);
  @include general-properties(100%, auto);
  @include display-flex(row, center, center);

  &:hover {
    transform: scale(1.01);
  }
}

.post-container {
  @include general-properties(95%, auto);
  @include display-flex(column);
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0.5rem 0 0.5rem 0;
  box-shadow: 0px 0px 5px 0px rgb(73, 73, 73);

  &:hover {
    box-shadow: 0px 0px 10px 0px rgb(73, 73, 73);
  }

  .title-date {
    @include general-properties(100%, auto);
    background-color: $secondColor;
    border-radius: 10px 10px 0 0;

    h1 {
      @include font($fontMontserrat, 1.8rem, $color, center);
      max-width: 95%;
      margin: auto;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
    p {
      @include font($fontMontserrat, 0.6rem, $color, end);
      margin: 0 1rem 0 0;
    }
    @include media-query($media-md) {
      h1 {
        font-size: 1.5rem;
      }
      P {
        font-size: 0.5rem;
      }
    }
  }
  .img {
    @include general-properties(100%, auto);
    @include display-flex(column, center, center);
    border-radius: 0 0 10px 10px;

    img {
      @include image(60%, auto, cover);
    }
  }
}
