---

---

<div class="welcome">
	<section class="title">
		<h1>Welcome there!</h1>
	</section>
	<section class="introduction">
		<p>
			You just arrived at <em>my-blog</em>, where I share my experiences and insights in the Software Development world as a Junior
			Developer. Here, I write about my daily challenges, from nice and interesting tips about coding to more personal thoughts and
			experiences. It's about sharing personal insights and experiences that come with being a developer. So whether you're a fellow coder
			seeking knowledge, a tech enthusiast, or just curious about this universe, you're in the right place.
		</p>
	</section>
</div>

<style lang="scss">
	.welcome {
		@include general-properties(90%, auto);
		@include display-flex(column, center, center);

		.title {
			@include display-flex(row, center);
			width: 90%;
			gap: 0.1rem;
			margin: 3rem 0 0.3rem 0;

			h1 {
				@include font($fontInconsolata, clamp(2.8rem, 3vw, 6rem), $color, start);
				font-weight: bolder;

				@include media-query($media-lr) {
					font-size: clamp(3rem, 4vw, 20rem);
				}
			}
		}
		.introduction {
			@include display-flex(row, center, center);
			margin: 0.2rem 0 0.4rem 0;
			p {
				@include font($fontInconsolata, clamp(1.2rem, 1.5vw, 10rem), $color, justify);
				max-width: 90%;
				line-height: 1.15;
				text-indent: 8px;
				@include media-query($media-lr) {
					font-size: clamp(1.2rem, 2vw, 10rem);
				}

				em {
					text-decoration: underline dotted $accentColor;
				}
			}
		}

		@include media-query($media-md) {
			width: 100%;

			.title {
				width: auto;
				margin: 1rem 0 1rem 0;
			}

			.introduction {
				p {
					max-width: 100%;
				}
			}
		}
	}
</style>
