---
import './Header.scss';
import NavbarLogo from './components/NavbarLogo/NavbarLogo.astro';
import NavbarLinks from './components/NavbarLinks/NavbarLinks.astro';
import ToggleTheme from './components/ToggleTheme/ToggleTheme.astro';
---

<header class="header">
	<nav class="navbar">
		<NavbarLogo />
		<NavbarLinks />
		<ToggleTheme />
	</nav>
	<div class="bottom-line"></div>
</header>
