@use "../../../../styles/main" as *;

.nav-logo {
  @include general-properties(auto, auto);
  @include display-flex();

  img {
    @include image(6rem, auto, cover);
    margin: 0.2rem 0.5rem;
    filter: $svgFilter;
  }
  @include media-query($media-md) {
    img {
      width: 4.5rem;
    }
  }
}
