<footer class="footer">
	<div class="top-line"></div>
	<p>&copy; 2023 iht - All rights reserved.</p>
</footer>

<style lang="scss">
	.footer {
		@include general-properties(100%, auto);
		@include display-flex(column, center);
		background-color: $backgroundColor;
		margin-top: 1rem;
		transition: 200ms;
	}

	.top-line {
		@include general-properties(90%, 2px);
		background-color: $accentColor;
		border-radius: 50%;
	}

	p {
		@include font($fontMontserrat, clamp(1.1rem, 1.5vw, 5rem), $color, center);
		margin: 0.5rem 0 0.5rem 0;
		font-weight: 600;
	}
</style>
