---
import Line from '../Line/Line.astro';
---

<footer class="footer">
	<Line />
	<p>All rights reserved &copy; igor-ht {new Date().getFullYear()}</p>
</footer>

<style lang="scss">
	.footer {
		@include general-properties(100%, auto);
		@include display-flex(column, center);
		background-color: $backgroundColor;
		margin-top: 1rem;
		transition: 200ms;
	}

	p {
		@include font($fontMontserrat, clamp(1rem, 1.3vw, 5rem), $color, center);
		padding: 1rem;
		font-weight: 600;
	}
</style>
