<footer class="footer">
	<div class="top-line"></div>
	<p>&copy; 2023 iht - All rights reserved.</p>
</footer>

<style lang="scss">
	.footer {
		@include general-properties(100%, 10dvh);
		@include display-flex(column, center);
		@include font($fontMontserrat, 1.1rem, $color, center);
		background-color: $backgroundColor;
		transition: 200ms;
	}

	.top-line {
		@include general-properties(90%, 2px);
		background-color: $accentColor;
		border-radius: 50%;
		margin: 1rem 0 0 0;
	}
	p {
		margin: auto;
	}
</style>
