---
import { Image } from 'astro:assets';
---

<div class="nav-logo">
	<Image
		src={'/logo.svg'}
		alt={'logo'}
		height={200}
		width={200}
	/>
</div>

<style lang="scss">
	.nav-logo {
		@include general-properties(auto, auto);
		@include display-flex(row, center, center);

		img {
			@include image(6rem, auto, cover);
			margin: 0.2rem 0.5rem;
			filter: $svgFilter;
		}
		@include media-query($media-md) {
			flex: 100% 1;
			img {
				width: 4.5rem;
			}
		}
	}
</style>
