---
const { title } = Astro.props;
---

<h1 class="section-title">
	{title}
	<slot />
</h1>

<style lang="scss">
	.section-title {
		@include display-flex(row, center, space-between);
		@include font($fontInconsolata, clamp(2.8rem, 3vw, 6rem), $color, start);
		width: 90%;
		font-weight: bolder;
		text-wrap: nowrap;
		padding: 0.8rem 0;

		@include media-query($media-lr) {
			font-size: clamp(2.5rem, 2.8vw, 5rem);
		}
	}
</style>
