---
const { title } = Astro.props;
---

<h1 class="section-title">
	{title}
	<slot />
</h1>

<style lang="scss">
	.section-title {
		@include display-flex(row, center, space-between);
		@include font($fontInconsolata, clamp(2.8rem, 3vw, 6rem), $color, start);
		margin: 3rem 0 0.5rem 0;
		width: 85%;
		font-weight: bolder;
		text-wrap: nowrap;

    @include media-query($media-lr) {
			font-size: clamp(2.5rem, 2.8vw, 5rem);
		}
	}
</style>
