---
import RecentPost from './RecentPost/RecentPost.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<div class="recent-posts-container">
	<section>
		{
			posts.map((post) => {
				return (
					<RecentPost
						slug={post.slug}
						data={post.data}
					/>
				);
			})
		}
	</section>
	<a href="/blog">
		<button
			type="button"
			class="btn-all-posts">
			All Posts
			<span>➡</span>
		</button>
	</a>
</div>

<style lang="scss">
	.recent-posts-container {
		@include general-properties(90%, auto);
		@include display-flex(column, center, center);

		section {
			@include general-properties(90%, auto);
			@include display-flex(row, center, center);
			gap: 1rem;

			@include media-query($media-lr) {
				flex-direction: column;
			}
		}

		button {
			@include font($fontMontserrat, clamp(1.8rem, 2.5vw, 2rem), $color, center);
			font-weight: bolder;
			background-color: transparent;
			margin: 1rem;

			span {
				@include font($fontEmoji, clamp(1.5rem, 2.5vw, 2rem), $color, justify);
			}
			&:hover {
				scale: 1.1;
			}
			&:active {
				scale: 1.15;
			}
		}
	}
</style>
