---
import RecentPost from './RecentPost/RecentPost.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<div class="recent-posts-container">
	<section>
		{
			posts.map((post) => {
				return (
					<RecentPost
						slug={post.slug}
						data={post.data}
					/>
				);
			})
		}
	</section>
	<a href="/blog">
		<button
			type="button"
			class="btn-all-posts">
			All Posts
		</button>
	</a>
</div>

<style lang="scss">
	.recent-posts-container {
		@include general-properties(90%, auto);
		@include display-flex(column, center, center);

		section {
			@include display-flex(row, center, center);
			gap: 1rem;

			@include media-query($media-lr) {
				flex-direction: column;
			}
		}

		button {
			@include general-properties(6rem, 2.5rem);
			@include font($fontMontserrat, 1.2rem, #363654, center);
			font-weight: 600;
			background-color: $accentColor;
			border-radius: 5px;
			margin: 1rem;
			box-shadow: 0px 0px 5px 1px gray;

			&:hover {
				box-shadow: 0px 0px 10px 1px gray;
				filter: brightness(0.8);
			}
			&:active {
				box-shadow: 0px 0px 15px 2px gray;
				filter: brightness(0.5);
			}
		}
	}
</style>
