---
import './RecentPostsContainer.scss';
import RecentPost from '../RecentPost/RecentPost.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<div class="recent-posts">
	<h1>Recent Posts</h1>
	{
		posts.map((post) => {
			return (
				<RecentPost
					slug={post.slug}
					data={post.data}
				/>
			);
		})
	}
	<a href="/blog">
		<button
			type="button"
			class="btn-all-posts">
			All Posts
		</button>
	</a>
</div>
