---
import './BaseLayout.scss';
import BaseHead from '../components/BaseHead/BaseHead.astro';
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/Header/Header.astro';
---

<!doctype html>
<html
	lang="en"
	transition:animate="fade">
	<head>
		<BaseHead />
	</head>
	<body id="root">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
