---
import BaseHead from '../components/BaseHead/BaseHead.astro';
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/Header/Header.astro';
---

<!doctype html>
<html
	lang="en"
	data-theme="light"
	transition:animate="fade">
	<head>
		<BaseHead />
	</head>

	<body id="root">
		<Header />
		<slot />
		<Footer />

		<style lang="scss">
			@use '../styles/main' as *;

			#root {
				@include display-flex(column, center, center);
				background-color: $backgroundColor;
			}
		</style>

		<script src="./script.ts"></script>
	</body>
</html>
