---
import NavbarLogo from './components/NavbarLogo/NavbarLogo.astro';
import NavbarLinks from './components/NavbarLinks/NavbarLinks.astro';
import ToggleTheme from './components/ToggleTheme/ToggleTheme.astro';
---

<header class="header">
	<nav class="navbar">
		<NavbarLogo />
		<NavbarLinks />
		<ToggleTheme />
	</nav>
	<div class="bottom-line"></div>
</header>

<style lang="scss">
	.header {
		@include general-properties(100%, 15dvh);
		@include display-flex($flexDirection: column, $alignItems: center);
		background-color: $backgroundColor;
		transition: 200ms;

		@include media-query($media-md) {
			height: auto;
		}
	}

	.navbar {
		@include general-properties(85%, auto);
		@include display-flex($alignItems: center);
		margin: 0.2rem 0 0;

		@include media-query($media-md) {
			width: 100%;
			flex-wrap: wrap;

			&::nth-child(1) {
				flex: 2 1;
			}
			&::nth-child(2, 3) {
				flex: 1 2;
			}
		}
	}

	.bottom-line {
		@include general-properties(90%, 1.5px);
		background-color: $accentColor;
		border-radius: 50%;
		margin: 0.4rem 0 0.4rem 0;
	}
</style>
