html,
body {
  all: unset;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  isolation: isolate;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div,
span,
h1,
h2,
p,
a,
img,
strong,
b,
u,
i,
form,
label,
footer,
header,
main,
nav,
section,
mark,
audio,
video,
button,
dialog {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer,
header,
main,
nav,
section {
  display: block;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}
